@model PersonalSiteMVC.Models.ContactViewModel


@{
    ViewBag.Title = "Contact";
}


<h2>@ViewBag.Title.</h2>

<section id="contact" class="contact-us-section">
    <div class="container">
        <div class="row section-content">
            <div class="contact-us-contact">
                <div class="contact-text text-center deep-black play-fair">
                    <span>
                        Contact information, and resume in one handy place.
                    </span>
                </div>
                <!-- //.contact-text-->



                <div class="contact-adress pt90">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="section-title text-capitalize deep-black pb75">
                                <h2>Contact</h2>
                            </div>
                            <!-- //title -->
                        </div>



                        <div class="col-sm-3">
                            <div class="service-text-icon">
                                <div class="service-icon">
                                    <span class="deep-black ti-email"></span>
                                </div>
                                <!-- //icon -->
                                <div class="service-text mt15">
                                    <div class="service-title deep-black">
                                        <h3>Get In Touch</h3>
                                    </div>
                                    <!-- //title -->
                                    <div class="service-dec mt15">
                                        <span>
                                            <a href="mailto: kleealex34@outlook.com"> kleealex34@outlook.com </a>
                                            <a href="http://alexklee.net/"><br>www.alexklee.net </a>

                                        </span>
                                    </div>
                                </div>
                                <!-- //deccription -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="service-text-icon">
                                <div class="service-icon">
                                    <span class="deep-black ti-world"></span>
                                </div>
                                <!-- //icon -->
                                <div class="service-text mt15">
                                    <div class="service-title deep-black">
                                        <h3>Resume</h3>
                                    </div>
                                    <!-- //title -->
                                    <div class="service-dec mt15">
                                        <span>
                                            <a href="~/Content/assets/resume.pdf" target="_blank">Resume</a>


                                        </span>
                                    </div>
                                </div>
                                <!-- //deccription -->
                            </div>
                        </div>
                        <!-- //col-sm-3 -->
                    </div>
                </div>
                <!-- //.contact-adress -->


                @if (ViewBag.CustomerMessage != null)
                {
                    <div>
                        @Html.Raw(ViewBag.CustomerMessage)
                    </div>
                }

                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>ContactViewModel</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                @*<div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>*@

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </div>
            <!-- //.contact-us-contact -->
        </div><!--  /.row-->
    </div><!--  /.container -->
</section>